@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$primary: #14c57a;
$black: #212121;
$white: #fefefe;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.5;

	background-color: $white;
	color: $black;
}

.mono {
	font-family: 'Roboto Mono', monospace;
}

input {
	font-family: 'Inter', sans-serif;
	display: block;
	width: 100%;
	padding: 0.7rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}

button {
	font-family: 'Roboto Mono', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 0.25rem;
	border: none;
	cursor: pointer;

	background-color: $primary;

	img {
		width: 25px;
		height: 25px;
	}

	&:active {
		transform: scale(0.95);
	}
}
.icon {
	aspect-ratio: 1/1;
	width: 60px;
	height: 60px;

	padding: 0.5rem;
}
