:global(:root) {
	--primary: #199561;
	--secondary: #2279df;
	--text: #212121;
	--text-dim: #757575;
	--background: #f2efe4;
	--off-black: #212121;
	--off-white: #fefefe;

	--invert: 0;
}

:global(.dark) {
	--primary: #29d28b;
	--secondary: #9ecdf3;
	--text: #d6d6d6;
	--text-dim: #b3b3b3;
	--background: #2c2c3d;

	--invert: 1;
}
