:global(:root) {
	--primary: #29d28b;
	--secondary: #6878ce;
	--text: #212121;
	--background: #f2efe4;
}

.dark-mode {
	--primary: #199561;
	--secondary: #9eacf3;
	--text: #d6d6d6;
	--background: #2c2c3d;
}
